

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <%= link_to emails_path, :action => :create, :method => :post, remote: true do %>
        <input class="btn btn-primary float" type="submit" value="Recevoir un email"> <br>
        <%end%>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Emails</th>
            </tr>
        </thead>
        
        <tbody id = "email">
        <% @emails.each do |email| %>
            <tr>
            <td><%=link_to email.object, email_path(email.id), remote: true %><br>
            <%= email.body %>
          
            </tr>
        <%end%>
        </tbody>
            
    </div>

    <div class="container">
        <div class="row">
            <div id = "show-mail" class="col-md-6">

    </div>
    </div>
    </div>